*{
    font-family: 'Prompt', sans-serif;
    /* overflow: hidden; */
}
html {
    scroll-behavior: smooth;
}
body::-webkit-scrollbar {
    display: none;
  }  
#navbar {
    background-color: #CAEAF1; 
    font-size: 18px;
}
#home1 {
    height: 100%;
    background-image: url("../img/bg.png");
    background-size: cover;
}
#home2 {
    /* position:absolute; */
    align-items: center;
    height: 100%;
}
.border0 {
    border: 3px solid #7CCF85;
}
.border1 {
    border: 3px solid #DD6060;
}
.border2 {
    border: 3px solid #F1D438;
}
.dropdown-menu {
    font-size: 18;
    text-align: center;
    margin: 10;
    right: -10px;
}
.slogan {
    position: absolute;
    font-size: 40px;
    font-weight: bold;
    color: #59A8B9;
    top: 35%;
    left: 40%;
    text-align: center;
}
.groupCard {
    margin: 10%;
}
.allCard {
    position: relative;
    top: 10%;
}
.card {
    /* width: 100%; */
    text-align: center;
    align-items: center;
    border-radius: 40px;
    margin: 7%;
    /* cursor: pointer; */
}
.card-img-top {
    width:80%;
}
.card-title {
    font-weight: 700;
    letter-spacing: 1.5px;
}
.card-text {
    font-weight: 600;
}
.text-muted {
    font-size: 18px;
    font-weight: 500;
}
.modal-content {
    border:none;
    text-align: center;
}
.modal-title {
    font-size: 40px;
    font-weight: bold;
    color: #59A8B9;
    margin-top: 20px;
}
.modal-header {
    border:none;
}
.modal-body {
    text-align: center;
}
.modal-footer {
    border:none;
}
.closeModal{
    position: absolute;
    top:20px;
    right: 20px;
    background-color: #D9D9D9;
    border-radius: 50%;
}
.selectOption {
    border: 2px solid #D9D9D9;
    border-radius: 20px;
    margin: 8px;
    text-align: left;
    padding: 15px;
}
.queueOption {
    font-weight: 600;
    border-radius: 15px;
    width: 250px;
    height: 55px;
    font-size: 17px;
    letter-spacing: 1.5px;
    margin: 10px;
    /* margin-bottom: 20px; */
}
.confirmed {
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1.5px;
    width: 500px;
    height: 50px;
    border-radius: 15px;
    margin-bottom: 10px;
}
.confirmedText {
    font-size: 18px;
    line-height: 20px;
}