<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HogWash</title>
    
        <!-- bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"> -->
    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-vue/2.23.1/bootstrap-vue.min.js"
            integrity="sha512-SP/zE7YazvnUG95bWnA1AeC5+WtAOqumEHSgcKTNfVefAMsDcVCt6D3Q3goqR3vSf50zPG3OZtnMjBJd9GBgkw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    
        <!-- font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Prompt&display=swap" rel="stylesheet">
    
        <!-- css link -->
        <link rel="stylesheet" type="text/css" href="../home/home.css" />
        <link rel="stylesheet" type="text/css" href="./modify.css" />
    
        <link rel="icon" href="../img/logo.png">
    
    </head>
    
    <body>
        <div id="home">
            <!-- nav bar -->
            <nav id="navbar" class="navbar fixed-top navbar-expand-lg navbar-light justify-content-between">
                <a class="navbar-brand mx-4" href="#">
                    <img src="../img/logo.png" width="80" height="" alt="">
                </a>
                <a class="navbar-brand" href="#" style="color:#59A8B9;">HogWash</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <!-- <li class="nav-item active">
                            <a class="nav-link" href="#">หน้าแรก</a>
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link" href="../home/index.html#home2">สถานะเครื่องซักผ้า</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="modal">ติดต่อเรา</a>
                        </li>
    
                <div class="dropdown">
                    <!-- เข้าสู่ระบบ -->
                    <a class="px-3 mx-3" href="../login/login.html" v-show="online == false">
                        <button class="btn my-2 my-sm-0" type="submit"
                            style="background-color:#59A8B9;color:white; font-size: 18; width:120px;">เข้าสู่ระบบ</button>
                    </a>
                    <!-- ยินดีต้อนรับ -->
                    <div class="dropdown" style="margin-left: 30; margin-right: 30;" v-show="online">
                        <button class="btn dropdown-toggle" id="userDropdown" role="button" data-toggle="dropdown"
                            style="background-color:#59A8B9;color:white; font-size: 18;">ยินดีต้อนรับ {{ online_user }} ! </button>
                        <div class="dropdown-menu dropdown-menu-right" style="width: 250px;">
                            <a class="dropdown-item" style="cursor: pointer;" data-dismiss="modal" data-toggle="modal"
                            data-target="#changePassword">แก้ไขรหัสผ่าน</a>
                            <a class="dropdown-item" style="cursor: pointer;" href="../history/history.html" >ประวัติการใช้งาน</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" @click="logout()" style="color: red; cursor: pointer;" >ออกจากระบบ</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>


        <div class="modal fade" id="changePassword" tabindex="-1" role="dialog" data-backdrop="static">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content rounded-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title mx-3">แก้ไขรหัสผ่าน</h5>
                            <p class="card-text">
                            <form onsubmit="return false">
                                <div class="form-group mx-3 py-3">
                                    <input v-model="new_email" type="password" class="form-control" id="signUpEmail" placeholder="รหัสผ่านปัจจุบัน" required>
                                </div>
                                <div class="form-group mx-3 py-3">
                                    <input v-model="new_password1" type="password" name="new_ps" class="form-control" id="signUpPassword" placeholder="รหัสผ่านใหม่" required>
                                </div>
                                <div class="form-group mx-3 py-3">
                                    <input v-model="new_password2" type="password" name="new_ps" class="form-control" id="confirmPassword" placeholder="ยืนยันรหัสผ่านใหม่" required>
                                </div>
                                <button class="button btn py-2 mb-3" type="submit" style="background-color:#59A8B9;color:white;"
                                    @click="changePassword()">
                                    บันทึกการเปลี่ยนแปลง
                                </button><br>
                            </form>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="card">
            <div class="card-body">
                <h5 class="card-title mx-3">แก้ไขรหัสผ่าน</h5>
                <p class="card-text">
                <form onsubmit="return false">
                    <div class="form-group mx-3 py-3">
                        <input v-model="new_email" type="password" class="form-control" id="signUpEmail" placeholder="รหัสผ่านปัจจุบัน" required>
                    </div>
                    <div class="form-group mx-3 py-3">
                        <input v-model="new_password1" type="password" name="new_ps" class="form-control" id="signUpPassword" placeholder="รหัสผ่านใหม่" required>
                    </div>
                    <div class="form-group mx-3 py-3">
                        <input v-model="new_password2" type="password" name="new_ps" class="form-control" id="confirmPassword" placeholder="ยืนยันรหัสผ่านใหม่" required>
                    </div>
                    <button class="button btn py-2 mb-3" type="submit" style="background-color:#59A8B9;color:white;"
                        @click="changePassword()">
                        บันทึกการเปลี่ยนแปลง
                    </button><br>
                </form>
                </p>
            </div>
        </div> -->
    



        
        <!-- js link -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="../home/home.js"></script>
    </body>
</html>